include ./_mixins.jade

doctype html
html(lang="en")
  head
    title= meta.banner
    link(rel='stylesheet' src='/stylesheets/main.css' type='text/css')
  body
    main
      each person in people
        +blurb(person)
      h1= meta.banner
    footer
      a.credits(href="/credits") Credits
      a.submit(href="/submit") Submit your information for inclusion
