include ./_mixins.jade

doctype html
html(lang="en")
  head
    title= meta.banner
    link(rel='stylesheet' href='/stylesheets/main.css' type='text/css')
    script(src='/javascripts/app.js' type='application/javascript')
  body
    h1
      block h1
    main
      block content
    footer
      a.credits(href="/credits") Credits
      a.submit(href="/submit") Submit your information for inclusion
